<div class="control-group">
    <label class="control-label"><%=ticketPrice.ticketCategory.description%></label>

    <div class="controls">
        <div class="input-append"><input class="span2" rel="tooltip" title="Enter value" type="number" min="1"
                                         max="9"
                                         placeholder="Number of tickets"
                                         name="tickets-<%=ticketPrice.ticketCategory.id%>"/><span class="add-on" style="margin-bottom:9px">@ $<%=ticketPrice.price%></span>
        </div>
    </div>
</div>